<!-- start Simple Custom CSS and JS -->
<style type="text/css">
.header-link a{
	color: #fff !important;
}
.slider-sub-heading h2{
	position:relative;
}
.slider-sub-heading h2:after {
    content: "";
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: -118px;
    background: #7C7065;
    width: 100px;
    height: 1px;
}
.service-sub-heading h2:after{
	background: #373737;
}
h1,h2,h3,h4,h5,h6,body,p{
	margin:0;
	padding:0;
}
.result-heading strong{
	font-weight:600;
}
.tab-part .e-n-tabs-heading{
	display: grid !important;
    grid-template-columns: 33.33% 33.33% 33.33%;
	min-width:33.5% !important;
}    
.team-box button svg{
	width: 178px;
	height: 204px;
}
.team-box button {
	display: block !important;
    padding: 0 !important; 
    margin: 0;
	background:none !important;
	box-shadow:none !important;
}
@media (max-width:767px){
	.hero-bg {
		background-image:none !important;
	}
	.slider-sub-heading h2:after {
		top: auto;
		bottom: -10px;
		left: 50%;
		transform:translate(-50%,-50%);
		width:100%;
	}
	.slider-sub-heading h2{
		    display: inline-block;
    		position: relative;
	}
	.team-box .e-n-tab-title{
		margin: 0px !important;
	}
}
@media (max-width:1199px){
	.moblie-menu-header {
		background-color:#0B4A76;
	}	
	.moblie-menu-header  div {
		position:initial !important;
	}
	.moblie-menu-header {
		position:relative;
	}
	.moblie-menu-header nav{
		width:100% !important;
		left:0 !important;
		border: 2px #0B4A76 solid;
	}
	.mobile-menu-icon svg{
		position:absolute;
		right:20px;
		top:50%;
		transform:translatey(-50%);
	}
	.team-bg{
		background-color:#e1eaef;
	}
	.mobile-menu-icon .menu-is-active{
		margin-top:0 !important;
	}
}
@media (min-width:768px) and (max-width:1199px){
	.gallery-photo{
		display: grid;
    	grid-template-columns: 50% 50%;
	}
	.hero-bg{
		background-position: center right -80px !important;
	}
	.mobile-menu-2 .e-con-inner{
		justify-content:center !important;
	}
}
@media (min-width:1025px) and (max-width:1199px){
	.mobile-menu-2 a{
		color:#fff !important;
	}
		.mobile-menu-2 a{
		padding:0 10px !important; 
	}
}
@media (min-width:1200px) and (max-width:1400px){
	.mobile-menu-2{
		padding-right:70px !important;
	}
	.mobile-menu-2 a{
		padding:0 15px !important;
	}
}</style>
<!-- end Simple Custom CSS and JS -->
